:root{
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient(135deg, #2c3e50 0%, #3498db 100%);
}

.container{
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title{
  padding: 10px 15px;
  width: 600px;
  margin-bottom: 15px;
  line-height: 20px;
  background-color: #27ae60; 
  border-radius: 8px;
}

.main-title{
  color: #fdfdfd; 
}

p{
  font-weight: bold;
  font-size: 22px;
  color: #ecf0f1; 
}
